@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont3e6e.eot");
  src: url("../fonts/fontawesome-webfont3e6e.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont3e6e.otf") format("opentype"), url("../fonts/fontawesome-webfont3e6e.svg") format("svg"), url("../fonts/fontawesome-webfont3e6e.ttf") format("truetype"), url("../fonts/fontawesome-webfont3e6e.woff") format("woff"), url("../fonts/fontawesome-webfont3e6e.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  overflow-x: hidden;
}
#menu-f4 .main-herader {
  position: relative;
  background: #ffffff;
}
#menu-f4 .main-herader .header-navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  transition: height 0.3s ease 0s;
  background: #18191b;
  border-bottom: 1px solid rgba(0,0,0,0);
}
#menu-f4 .main-herader .header-navbar .navbar-brand {
  padding: 0;
  margin-top: 25px;
  height: auto;
}
#menu-f4 .main-herader .header-navbar .navbar-brand img {
  width: 220px;
  height: auto;
}
#menu-f4 .main-herader .header-navbar .navbar {
  margin-bottom: 0;
}
#menu-f4 .main-herader .header-navbar .navbar-default {
  background: transparent;
  border: none;
  padding: 0;
}
#menu-f4 .main-herader .header-navbar .navbar-default .navbar-nav>li>a {
  color: #fff;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  padding: 25px 0px 25px 25px;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
}
#menu-f4 .main-herader .header-navbar .navbar-default .navbar-nav>li>a::after {
  float: right;
  position: relative;
  font-family: "FontAwesome";
  content: "\f111";
  font-size: 6px;
  margin-left: 20px;
  margin-top: 0px;
  color: #FAB702;
}
#menu-f4 .main-herader .header-navbar .navbar-default .navbar-nav>.active>a,
#menu-f4 .main-herader .header-navbar .navbar-default .navbar-nav>li>a:hover {
  color: #fab702;
  background-color: transparent;
}
#menu-f4 .main-herader .header-navbar .navbar-default .navbar-nav>li>a:focus,
#menu-f4 .main-herader .header-navbar .navbar-default .navbar-nav>li>a:hover {
  background: transparent;
}
#menu-f4 .main-herader .header-navbar .navbar-default .navbar-nav>.open>a,
#menu-f4 .main-herader .header-navbar .navbar-default .navbar-nav>.open>a:focus,
#menu-f4 .main-herader .header-navbar .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: #FAB702;
}
#menu-f4 .main-herader .header-navbar .dropdown-menu {
  min-width: 220px;
}
#menu-f4 .main-herader .header-navbar .navbar-right .dropdown-menu {
  right: auto;
}
#menu-f4 .main-herader .header-navbar .navbar-nav .dropdown-menu {
  padding: 0;
  border: none;
  border-radius: 0;
  margin-left: 10px;
}
#menu-f4 .main-herader .header-navbar .navbar-nav .dropdown-menu li a {
  padding: 15px 10px;
  color: #888;
  font-size: 15px;
  text-transform: uppercase;
}
#menu-f4 .main-herader .header-navbar .navbar-nav .dropdown-menu li a:hover {
  padding-left: 15px;
  color: #fff;
  background-color: #FAB702;
}
#menu-f4 .main-herader .header-navbar .navbar-nav>li>.dropdown-menu {
  margin-top: -5px;
  background-color: #333;
}
#menu-f4 .main-herader .header-navbar .navbar-nav .dropdown-menu>li {
  border: 1px solid #fff;
}
@media only screen and (max-width: 1100px) {
  #block-f4 .header-navbar .navbar-default .navbar-nav>li>a {
    padding: 25px 0px 25px 20px !important;
  }
}
@media only screen and (max-width: 991px) {
  #block-f4 .header-navbar .navbar-default .navbar-nav>li>a {
    padding: 25px 0px 25px 10px !important;
  }
  #block-f4 .navbar-header {
    margin: 0 auto;
    text-align: center;
    width: 180px;
  }
}
@media only screen and (max-width: 840px) {
  #block-f4 .header-navbar .dropdown-menu {
    min-width: 190px;
  }
  #block-f4 .header-navbar .navbar-default .navbar-nav>li>a {
    padding: 25px 0px 25px 10px !important;
  }
}
@media only screen and (max-width: 767px) {
  #block-f4 .header-navbar .navbar-brand {
    padding: 0 15px;
    margin-top: 5px;
  }
  #block-f4 .header-navbar .navbar-toggle {
    border-radius: 0;
    margin: 20px 15px;
  }
  #block-f4 .navbar-nav .open .dropdown-menu {
    max-width: 50%;
  }
  #block-f4 .navbar-nav {
    max-height: 350px;
  }
  #block-f4 .navbar-default .navbar-toggle:focus,
  #block-f4 .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  #block-f4 .main-nav.top-nav-collapse .icon-bar {
    background: #333333;
  }
  #block-f4 .navbar-collapse {
    margin-top: 20px;
  }
  #block-f4 .container>.navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  #block-f4 .main-nav .navbar-right {
    background: #f1f1f1;
    margin: 0 -15px;
    padding: 10px 0;
  }
  #block-f4 .main-nav .navbar-nav>li {
    width: 100%;
    text-align: center;
  }
  #block-f4 .main-nav .navbar-nav>li>a {
    margin-top: 0;
    margin-left: 0;
    color: #666666;
  }
  #block-f4 .navbar-header {
    float: left;
    width: 100% !important;
  }
  #block-f4 .header-navbar .navbar-nav {
    text-align: left;
  }
  #block-f4 .navbar-default .navbar-collapse,
  #block-f4 .navbar-default .navbar-form {
    background-color: #000000;
  }
  #block-f4 .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
  }
}
@media only screen and (max-width: 600px) {
  #block-f4 .header-navbar .navbar-nav .dropdown-menu>li {
    border: none;
  }
  #block-f4 .main-nav .navbar-brand {
    width: 180px;
    height: auto;
  }
  #block-f4 .navbar-nav .open .dropdown-menu {
    max-width: 80%;
  }
  #block-f4 .header-navbar .navbar-brand {
    margin-top: 15px;
  }
  #block-f4 .header-navbar .navbar-brand img {
    width: 170px;
  }
}
@media only screen and (max-width: 420px) {
  #block-f4 .header-navbar .navbar-brand {
    margin-top: 15px;
  }
  #block-f4 .header-navbar .navbar-brand img {
    width: 170px;
  }
  #block-f4 .navbar-toggle {
    margin-bottom: 0;
  }
  #block-f4 .header-navbar .navbar-brand img {
    width: 155px;
  }
}
