.type-1824 {
  margin-top: 30px;
}
.type-1824 .blog-list {
  margin: 0;
  padding: 0;
}
.type-1824 .blog-list li {
  list-style: none;
  line-height: 1.7em;
  margin-bottom: 60px;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: solid 1px #11111185;
}
.type-1824 .blog-list h3 {
  font-size: 22px;
  margin-top: 20px;
}
.type-1824 .blog-list h3 a {
  color: #111;
}
.type-1824 .blog-list .btn-more {
  padding: 3px 25px 3px 25px;
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
  background: #FAB702;
}
.type-1824 .blog-list .btn-more:hover {
  color: #fff;
  background: #222;
}
.type-1824 .blog-list .post-text {
  padding-left: 80px;
}
.type-1824 .blog-list img {
  border-bottom: solid 4px #FAB702;
  width: 100%;
}
.type-1824 .blog-list .date-box {
  width: 60px;
  position: absolute;
  text-align: center;
  text-shadow: none;
}
.type-1824 .blog-list .date-box .day,
.type-1824 .blog-list .date-box .month {
  display: block;
  color: #fff;
  text-align: center;
  width: 60px;
  z-index: 100;
}
.type-1824 .blog-list .date-box .day {
  background: #FAB702;
  font-weight: 600;
  font-size: 32px;
  padding-top: 45px;
  padding-bottom: 10px;
}
.type-1824 .blog-list .date-box .month {
  color: #111;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 16px;
  padding: 7px 0 7px 0;
  border-bottom: solid 4px #333;
  border-bottom-color: #ddd;
}
.type-1824 .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.type-1824 .pagination li:hover a {
  color: #111;
  border: 1px solid #FAB702;
}
.type-1824 .pagination li a {
  color: #888;
  border: solid 1px #ccc;
  background: none;
  margin: 3px;
  padding: 15px 20px 15px 20px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.type-1824 .pagination .active a {
  background: #FAB702;
  color: #fff;
  border: 1px solid #FAB702;
}
.type-1824 .region-sidebar-second {
  color: #606060;
}
.type-1824 .region-sidebar-second #block-views-blog-recent {
  border-bottom: solid 1px #ddd;
  margin-bottom: 60px;
  padding-bottom: 60px;
}
.type-1824 .region-sidebar-second #block-views-blog-recent li {
  margin-bottom: 10px;
}
.type-1824 .region-sidebar-second #block-views-blog-recent a:hover {
  color: #FAB702;
}
.type-1824 .region-sidebar-second .small-border {
  height: 2px;
  width: 30px;
  background: #FAB702;
  margin: 10px 0 20px 0;
  display: block;
}
.type-1824 .region-sidebar-second #block-block-6 .content {
  text-align: justify;
}
.type-1824 .region-sidebar-second h4 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: normal;
  letter-spacing: 1px;
  color: #111;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.type-1824 .region-sidebar-second ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.type-1824 .region-sidebar-second a {
  color: #888;
  text-decoration: none;
}
.type-1824 .region-sidebar-second #block-views-tags-blog-tags {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: solid 1px #ddd;
}
.type-1824 .region-sidebar-second #block-views-tags-blog-tags .widget_tags ul li {
  text-shadow: none;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 13px;
}
.type-1824 .region-sidebar-second #block-views-tags-blog-tags .widget_tags ul li a {
  padding: 5px;
  color: #606060;
  border: solid 1px #ddd;
}
.type-1824 .region-sidebar-second #block-views-tags-blog-tags .widget_tags ul li a:hover {
  color: #111;
  border-color: #111;
}
