.type-1812 {
  padding: 60px 0 60px 0;
  background-color: #FAB702;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.type-1812 .section {
  text-align: center;
}
.type-1812 a.btn {
  color: #111;
  border: solid 1px #111;
  padding: 12px 45px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: normal;
  text-transform: uppercase;
  border-radius: unset;
}
.type-1812 a.btn:hover {
  background: #111;
  color: #fff;
  transition: .3s;
}
.type-1812 i.fa.fa-chevron-right {
  margin-left: 15px;
}
