@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont3e6e.eot");
  src: url("../fonts/fontawesome-webfont3e6e.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont3e6e.svg") format("svg"), url("../fonts/fontawesome-webfont3e6e.ttf") format("truetype"), url("../fonts/fontawesome-webfont3e6e.woff") format("woff"), url("../fonts/fontawesome-webfont3e6e.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.type-1805 .testimonials {
  background: url(../images/bg-3_0.jpg);
  padding-bottom: 60px;
  background-size: cover;
  position: relative;
}
.type-1805 .testimonials .swiper-container {
  padding: 30px 0;
}
.type-1805 .testimonials .swiper-container .swiper-pagination-bullet-active {
  background: #FAB702;
}
.type-1805 .testimonials .title-main {
  margin-bottom: 60px;
  color: #fff;
}
.type-1805 .testimonials .title-main h2 {
  font-size: 32px;
  font-weight: 300;
  padding: 5px 0;
  text-align: center;
  font-family: "Helvetica";
  margin-top: 15px;
  color: #fff;
}
.type-1805 .testimonials .title-main .separator {
  line-height: 0.5;
  text-align: center;
  margin: 0px 0 30px 0;
}
.type-1805 .testimonials .title-main .separator span {
  display: inline-block;
  position: relative;
}
.type-1805 .testimonials .title-main .separator span::before,
.type-1805 .testimonials .title-main .separator span::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #fff;
  top: 5px;
  width: 300px;
}
.type-1805 .testimonials .title-main .separator span::before {
  right: 100%;
  margin-right: 15px;
}
.type-1805 .testimonials .title-main .separator span::after {
  left: 100%;
  margin-left: 15px;
}
.type-1805 .testimonials .title-main .separator span i {
  color: #FAB702;
  font-size: 6px;
  padding: 0;
  margin: 0;
  float: none;
}
.type-1805 .testimonials .testimonials-block_i {
  padding: 30px 60px;
  background: #60606085;
  font-size: 13px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.type-1805 .testimonials .testimonials-block_i .testimonials-block_t {
  margin-bottom: 15px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  font-family: "Helvetica";
  padding-left: 30px;
}
.type-1805 .testimonials .testimonials-block_i .testimonials-block_t span {
  color: #9CCC65;
}
.type-1805 .testimonials .testimonials-block_i .testimonials-block_t .user_n {
  font-size: 12px;
  color: #FAB702;
}
.type-1805 .testimonials .testimonials-block_i .testimonials-block_t p {
  font-style: italic;
  margin: 0;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 500;
  color: #fff;
}
.type-1805 .testimonials .testimonials-block_i .testimonials-block_t:before {
  font-family: FontAwesome;
  content: "\f10d";
  display: inline-block;
  color: #111;
  position: absolute;
  padding: 10px;
  background: #FAB702;
  left: -60px;
  font-size: 30px;
  top: -10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
