.type-1806 {
  line-height: 1.8em;
  background: #111;
  color: #ccc;
  padding: 80px 0 0 0;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.type-1806 .logo-small {
  margin-bottom: 25px;
}
.type-1806 .latestBlog {
  margin-bottom: 20px;
}
.type-1806 ul {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.type-1806 li.item {
  padding: 0 0 5px 0;
  margin: 0;
  background: none;
  border-bottom: solid 1px #222;
}
.type-1806 .item {
  padding: 0 0 5px 0;
  margin: 0;
}
.type-1806 .item a {
  color: #ccc;
}
.type-1806 .item a:hover {
  color: #555;
  transition: .3s;
}
.type-1806 .address {
  margin-top: 20px;
}
.type-1806 .address span {
  display: block;
  border-bottom: solid 1px #222;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: 300;
}
.type-1806 .address strong {
  color: #FAB702;
  display: inline-block;
  width: 60px;
}
.type-1806 .address a {
  color: #888;
}
.type-1806 .address a:hover {
  color: #555;
  transition: .3s;
}
.type-1806 .subfooter {
  background: #0b0b0b;
  padding: 30px 0 20px 0;
  margin-top: 65px;
}
.type-1806 .subfooter i {
  display: inline-block !important;
  margin-right: 10px;
  margin-bottom: 5px;
  text-shadow: none;
  color: #fff;
  padding: 8px;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 16px;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
}
.type-1806 .subfooter i:hover {
  background: #fff;
  border-color: #eceff3;
  color: #333;
}
.type-1806 .subfooter .social-icons {
  float: right;
}
